Repository helidon-io/helidon-build-tools, pull requests merged in 2020-06, with the labels that each got.

#153 Update HelidonTestVersions for release and add helidonTestVersion().
  dev-loop/src/test/java/io/helidon/build/dev/BuildLoopTest.java
  dev-loop/src/test/java/io/helidon/build/dev/clidemo/HelidonCliDemo.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplierTest.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/MavenProjectSupplierTest.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandRunner.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/ArchetypeBrowserTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/BaseCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitBatchTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitDefaultTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitInteractiveTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitTestHelper.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestUtils.java
  pom.xml
  utils/pom.xml
  utils/src/main/java/io/helidon/build/util/ApplicationGenerator.java
  utils/src/main/java/io/helidon/build/util/Proxies.java
  utils/src/test/java/io/helidon/build/test/HelidonTestVersions.java
  utils/src/test/java/io/helidon/build/test/TestFiles.java
  utils/src/test/java/io/helidon/build/util/ApplicationGeneratorTest.java
  utils/src/test/java/io/helidon/build/util/HelidonVersionsIT.java
  utils/src/test/java/io/helidon/build/util/ProxiesTest.java
Labels: cli

#158 Consolidate network access into NetworkConnection, with retries.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeBrowser.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Config.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  utils/src/main/java/io/helidon/build/util/ApplicationGenerator.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/MavenVersions.java
  utils/src/main/java/io/helidon/build/util/NetworkConnection.java
  utils/src/main/java/io/helidon/build/util/UserConfig.java
  utils/src/test/java/io/helidon/build/test/HelidonTestVersions.java
  utils/src/test/java/io/helidon/build/util/MavenVersionTest.java
  utils/src/test/java/io/helidon/build/util/NetworkConnectionTest.java
Labels: cli

#179 Add support for metadata access
  dev-loop/src/test/java/io/helidon/build/dev/BuildLoopTest.java
  dev-loop/src/test/java/io/helidon/build/dev/BuildRootTest.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/MavenProjectSupplierTest.java
  etc/copyright-exclude.txt
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeCatalog.java
  helidon-cli/impl/pom.xml
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeBrowser.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BuildCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommandRequirements.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Config.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/ArchetypeBrowserTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  helidon-cli/impl/src/test/resources/cli-data/2.0.0-RC1/cli-data.zip
  helidon-cli/impl/src/test/resources/cli-data/2.0.0-RC2/cli-data.zip
  helidon-cli/impl/src/test/resources/cli-data/latest
  helidon-cli/plugin/pom.xml
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/GetInfo.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Log.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/NetworkConnection.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Plugin.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Style.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
  helidon-cli/plugin/src/main/java/module-info.java
  helidon-cli/plugin/src/test/java/io/helidon/build/cli/plugin/NetworkConnectionTest.java
  helidon-linker/src/main/java/module-info.java
  helidon-linker/src/test/java/io/helidon/linker/StartScriptTest.java
  pom.xml
  utils/pom.xml
  utils/src/main/java/io/helidon/build/util/BuildToolsProperties.java
  utils/src/main/java/io/helidon/build/util/ConfigProperties.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/Log.java
  utils/src/main/java/io/helidon/build/util/UserConfig.java
  utils/src/main/java/module-info.java
  utils/src/test/java/io/helidon/build/test/CapturingLogWriter.java
  utils/src/test/java/io/helidon/build/test/TestFiles.java
Labels: cli

#181 Follow symlinks fix
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  helidon-linker/src/test/java/io/helidon/linker/LinkerTest.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
Labels: cli

#182 Use metadata
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeBrowser.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  helidon-cli/impl/src/main/resources/META-INF/native-image/native-image.properties
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/ArchetypeBrowserTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitBatchTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitDefaultTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitInteractiveTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitTestHelper.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTestServer.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestMetadata.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Plugin.java
  utils/src/main/java/io/helidon/build/util/HelidonVersions.java
  utils/src/main/java/io/helidon/build/util/Log.java
  utils/src/main/java/io/helidon/build/util/MavenVersions.java
  utils/src/test/java/io/helidon/build/util/HelidonVersionsIT.java
  utils/src/test/java/io/helidon/build/util/MavenVersionsTest.java
  utils/src/test/java/io/helidon/build/util/NetworkConnectionTest.java
Labels: cli

#188 Fix maven executable location with homebrew maven installations.
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
Labels: cli

#198 Attempt fix for refactor causing dev loop to spin
  dev-loop/src/main/java/io/helidon/build/dev/BuildLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
Labels: cli

#199 Add --update flag to init command (hidden for now).
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
Labels: cli

#200 Improve the project already exists error.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
Labels: cli

#193 More Metadata tests, including integration with helidon.io
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/BaseMetadataTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataIT.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTestServer.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestMetadata.java
  helidon-cli/impl/src/test/resources/cli-data/2.0.0-RC1/cli-data.zip
  helidon-cli/impl/src/test/resources/cli-data/2.0.0-RC2-updated/cli-data.zip
  helidon-cli/impl/src/test/resources/cli-data/2.0.0-RC2/cli-data.zip
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
  utils/src/test/java/io/helidon/build/test/CapturingLogWriter.java
Labels: cli

#201 Display name and description for each archetype
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
Labels: cli, enhancement

#202 Update info command to include metadata in verbose mode.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
Labels: cli

#203 Use build-tools.version metadata property.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommandRequirements.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Config.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  utils/src/main/java/io/helidon/build/util/ConfigProperties.java
  utils/src/main/java/io/helidon/build/util/ProjectConfig.java
Labels: cli

#206 Cli update prompt
  etc/copyright-exclude.txt
  helidon-cli/CHANGELOG.md
  helidon-cli/codegen/src/main/java/io/helidon/build/cli/codegen/Visitor.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BuildCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataIT.java
  utils/src/main/java/io/helidon/build/util/Log.java
Labels: cli

#208 implement collapsible top-level menu for the site/doc generator
  sitegen-maven-plugin/src/main/java/io/helidon/build/sitegen/Backend.java
  sitegen-maven-plugin/src/main/java/io/helidon/build/sitegen/VuetifyNavigation.java
  sitegen-maven-plugin/src/main/resources/helidon-sitegen-static/vuetify/components/docNav.js
  sitegen-maven-plugin/src/main/resources/helidon-sitegen-static/vuetify/css/helidon-sitegen.css
  sitegen-maven-plugin/src/main/resources/helidon-sitegen-templates/vuetify/config.ftl
  sitegen-maven-plugin/src/test/java/io/helidon/build/sitegen/ConfigTest.java
  sitegen-maven-plugin/src/test/resources/config/vuetify.yaml
Labels: sitegen

#209 Add User-Agent header. Tweak CommonOptions.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/NetworkConnection.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
  utils/src/main/java/io/helidon/build/util/TimeUtils.java
Labels: cli

#215 Proxy fixes
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  utils/src/main/java/io/helidon/build/util/ConfigProperties.java
  utils/src/main/java/io/helidon/build/util/Proxies.java
  utils/src/test/java/io/helidon/build/util/ProxiesTest.java
Labels: cli

#218 Quiet metadata for info and version, misc fixes
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BuildCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/GetInfo.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/NetworkConnection.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
  helidon-cli/plugin/src/test/java/io/helidon/build/cli/plugin/NetworkConnectionTest.java
Labels: cli

#221 Include url in error message
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Plugin.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
Labels: cli

#228 Escape all plugin messages and enable build skip in dev loop
  dev-loop/src/main/java/io/helidon/build/dev/BuildLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/NetworkConnection.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Plugin.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Style.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
Labels: cli

#230 Fix uses of java and mvn executables.
  dev-loop/src/main/java/io/helidon/build/dev/mode/ProjectExecutor.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommandRequirements.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  helidon-linker/src/main/java/io/helidon/linker/util/JavaRuntime.java
  utils/src/main/java/io/helidon/build/util/Constants.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/JavaProcessBuilder.java
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
Labels: cli
