Repository helidon-io/helidon-build-tools, pull requests merged in 2020-05, with the labels that each got.

#111 Prettify and harden dev loop
  dev-loop/pom.xml
  dev-loop/src/main/java/io/helidon/build/dev/BuildExecutor.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildMonitor.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildType.java
  dev-loop/src/main/java/io/helidon/build/dev/ChangeType.java
  dev-loop/src/main/java/io/helidon/build/dev/Project.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/EmbeddedMavenExecutor.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/ForkedMavenExecutor.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
  dev-loop/src/main/java/io/helidon/build/dev/mode/DevLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/mode/ProjectExecutor.java
  dev-loop/src/test/java/io/helidon/build/dev/BuildLoopTest.java
  dev-loop/src/test/java/io/helidon/build/dev/TestMonitor.java
  dev-loop/src/test/java/io/helidon/build/dev/clidemo/HelidonCliDemo.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplier.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplierTest.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/MavenProjectConfigCollectorTest.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeEngineTest.java
  helidon-cli/harness/pom.xml
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/UsageCommand.java
  helidon-cli/harness/src/main/java/module-info.java
  helidon-cli/harness/src/test/java/io/helidon/build/cli/harness/ExecTest.java
  helidon-cli/impl/helidon.sh
  helidon-cli/impl/pom.xml
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BuildCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/FeaturesCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/MavenBaseCommand.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestUtils.java
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/dev/DevMojo.java
  pom.xml
  utils/pom.xml
  utils/src/main/java/io/helidon/build/util/AnsiConsoleInstaller.java
  utils/src/main/java/io/helidon/build/util/BuildToolsProperties.java
  utils/src/main/java/io/helidon/build/util/ConfigProperties.java
  utils/src/main/java/io/helidon/build/util/Constants.java
  utils/src/main/java/io/helidon/build/util/DevLoopMessages.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/MavenArtifacts.java
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
  utils/src/main/java/io/helidon/build/util/PomUtils.java
  utils/src/main/java/io/helidon/build/util/ProcessMonitor.java
  utils/src/main/java/io/helidon/build/util/ProjectConfig.java
  utils/src/main/java/io/helidon/build/util/QuickstartGenerator.java
  utils/src/main/java/io/helidon/build/util/SimpleQuickstartGenerator.java
  utils/src/main/java/io/helidon/build/util/Style.java
  utils/src/main/java/io/helidon/build/util/SystemLogWriter.java
  utils/src/main/java/module-info.java
  utils/src/main/resources/META-INF/native-image/native-image.properties
  utils/src/main/resources/io/helidon/build/util/build-tools.properties
  utils/src/test/java/io/helidon/build/test/HelidonTestVersions.java
  utils/src/test/java/io/helidon/build/test/StripAnsi.java
  utils/src/test/java/io/helidon/build/test/TestFiles.java
  utils/src/test/java/io/helidon/build/util/QuickstartGeneratorTest.java
Labels: cli

#115 Fix MP classpath problem in dev loop
  dev-loop/src/main/java/io/helidon/build/dev/Project.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectConfigCollector.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
  dev-loop/src/main/java/io/helidon/build/dev/mode/DevLoop.java
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/dev/DevMojo.java
  utils/src/main/java/io/helidon/build/util/ConfigProperties.java
Labels: bug, cli

#119 Try to eliminate change detection race conditions
  dev-loop/src/main/java/io/helidon/build/dev/BuildFile.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildFiles.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildRoot.java
  dev-loop/src/main/java/io/helidon/build/dev/FileChangeAware.java
  dev-loop/src/main/java/io/helidon/build/dev/Project.java
  dev-loop/src/main/java/io/helidon/build/dev/ProjectSupplier.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectConfigCollector.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
  dev-loop/src/test/java/io/helidon/build/dev/BuildLoopTest.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplier.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-linker/src/main/java/io/helidon/linker/StartScript.java
  helidon-linker/src/test/java/io/helidon/linker/StartScriptTest.java
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/dev/DevMojo.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/ProjectConfig.java
  utils/src/test/java/io/helidon/build/test/TestFiles.java
Labels: cli

#121 Fix dev race when file changed during build that fails
  dev-loop/src/main/java/io/helidon/build/dev/BuildFile.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/Project.java
  dev-loop/src/main/java/io/helidon/build/dev/ProjectSupplier.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
  dev-loop/src/test/java/io/helidon/build/dev/BuildLoopTest.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplier.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/MavenProjectSupplierTest.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
Labels: cli

#118 New implementation of init command using our templating engine
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeDescriptor.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeEngine.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/Main.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/Maps.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/PropertyEvaluator.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeEngineTest.java
  helidon-archetype/maven-plugin/src/main/java/io/helidon/build/archetype/maven/IntegrationTestMojo.java
  helidon-cli/impl/pom.xml
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/AppTypeBrowser.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/FeaturesCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/FlowNodeControllers.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Prompter.java
  helidon-cli/impl/src/main/resources/io/helidon/build/cli/impl/helidon.properties
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/AppTypeBrowserTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/BaseCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/HelpTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitBatchTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitDefaultTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitInteractiveTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitTestHelper.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestUtils.java
  helidon-cli/impl/src/test/resources/io/helidon/build/cli/impl/cli-usage.txt
  helidon-cli/impl/src/test/resources/io/helidon/build/cli/impl/input.txt
  utils/src/main/java/io/helidon/build/util/PomUtils.java
Labels: cli

#131 Set correct default option for SE/MP selector
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitInteractiveTest.java
Labels: bug, cli

#133 Improve error handling
  dev-loop/src/main/java/io/helidon/build/dev/maven/ForkedMavenExecutor.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/MavenProjectSupplierTest.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandExecution.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandRunner.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/HelpCommand.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/UsageCommand.java
  helidon-cli/harness/src/test/java/io/helidon/build/cli/harness/ExecTest.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/AppTypeBrowser.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Assertions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BuildCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/MavenBaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/AppTypeBrowserTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/BaseCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestUtils.java
  helidon-linker/src/main/java/io/helidon/linker/Application.java
  helidon-linker/src/main/java/io/helidon/linker/Configuration.java
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/link/MavenLogWriter.java
  pom.xml
  utils/src/main/java/io/helidon/build/util/AnsiConsoleInstaller.java
  utils/src/main/java/io/helidon/build/util/Log.java
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
  utils/src/main/java/io/helidon/build/util/Requirements.java
  utils/src/main/java/io/helidon/build/util/RequirementsFailure.java
  utils/src/main/java/io/helidon/build/util/Style.java
  utils/src/main/java/io/helidon/build/util/StyleRenderer.java
  utils/src/main/java/io/helidon/build/util/SystemLogWriter.java
  utils/src/main/java/module-info.java
  utils/src/test/java/io/helidon/build/test/HelidonTestVersions.java
  utils/src/test/java/io/helidon/build/test/TestFiles.java
  utils/src/test/java/io/helidon/build/util/RequirementsTest.java
  utils/src/test/java/io/helidon/build/util/StyleRendererTest.java
Labels: cli

#130 Replace use of URLClassLoader
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeEngine.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeLoader.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/Main.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeBaseTest.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeEngineTest.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeLoaderTest.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
Labels: P1, bug, cli

#138 Use forkCount=0 to fix cli-impl tests behind proxy
  helidon-cli/impl/pom.xml
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/TestUtils.java
Labels: cli

#143 CLI bug fixes
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandParser.java
  helidon-cli/harness/src/test/java/io/helidon/build/cli/harness/CommandParserTest.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/AppTypeBrowser.java
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
Labels: cli

#144 Maven archetype support
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeDescriptor.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeDescriptorReader.java
  helidon-archetype/engine/src/main/java/io/helidon/build/archetype/engine/ArchetypeEngine.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeDescriptorTest.java
  helidon-archetype/engine/src/test/java/io/helidon/build/archetype/engine/ArchetypeEngineTest.java
  helidon-archetype/engine/src/test/resources/META-INF/helidon-archetype.xml
  helidon-archetype/engine/src/test/resources/META-INF/test.properties
  helidon-archetype/engine/src/test/resources/io/helidon/build/archetype/engine/helidon-archetype.xml
  helidon-archetype/engine/src/test/resources/pom.xml.mustache
  helidon-archetype/maven-plugin/src/it/projects/archetype1/pom.xml
  helidon-archetype/maven-plugin/src/it/projects/archetype1/src/main/resources/META-INF/helidon-archetype.xml.mustache
  helidon-archetype/maven-plugin/src/it/projects/archetype1/src/main/resources/pom.xml.mustache
  helidon-archetype/maven-plugin/src/main/java/io/helidon/build/archetype/maven/DescriptorConverter.java
  helidon-archetype/maven-plugin/src/main/java/io/helidon/build/archetype/maven/IntegrationTestMojo.java
  helidon-archetype/maven-plugin/src/main/java/io/helidon/build/archetype/maven/JarMojo.java
  helidon-archetype/maven-plugin/src/main/resources/META-INF/plexus/components.xml
  helidon-archetype/maven-plugin/src/main/resources/archetype-post-generate.groovy.mustache
  helidon-archetype/maven-plugin/src/test/java/io/helidon/build/archetype/maven/DescriptorConverterTest.java
  helidon-archetype/maven-plugin/src/test/resources/io/helidon/build/archetype/maven/helidon-archetype.xml
  helidon-archetype/maven-plugin/src/test/resources/io/helidon/build/archetype/maven/test.properties
Labels: cli

#145 Add hidden plugin version options to DevCommand.
  dev-loop/src/main/java/io/helidon/build/dev/BuildLoop.java
  dev-loop/src/main/java/io/helidon/build/dev/BuildMonitor.java
  dev-loop/src/main/java/io/helidon/build/dev/Project.java
  dev-loop/src/main/java/io/helidon/build/dev/ProjectSupplier.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectConfigCollector.java
  dev-loop/src/main/java/io/helidon/build/dev/maven/MavenProjectSupplier.java
  dev-loop/src/main/java/io/helidon/build/dev/mode/DevLoop.java
  dev-loop/src/test/java/io/helidon/build/dev/TestMonitor.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplier.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/DefaultProjectSupplierTest.java
  dev-loop/src/test/java/io/helidon/build/dev/maven/MavenProjectConfigCollectorTest.java
  helidon-cli/codegen/src/main/java/io/helidon/build/cli/codegen/CodeGenerator.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandModel.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/Option.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/BuildCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Config.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/VersionCommand.java
  helidon-cli/impl/src/main/resources/io/helidon/build/cli/impl/helidon.properties
  helidon-cli/impl/src/main/resources/io/helidon/build/cli/impl/version.properties
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/dev/DevMojo.java
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/link/MavenLogWriter.java
  utils/src/main/java/io/helidon/build/util/BuildToolsProperties.java
  utils/src/main/java/io/helidon/build/util/Constants.java
  utils/src/main/java/io/helidon/build/util/DevLoopMessages.java
  utils/src/main/java/io/helidon/build/util/Log.java
  utils/src/main/java/io/helidon/build/util/MavenCommand.java
  utils/src/main/java/io/helidon/build/util/PomUtils.java
  utils/src/main/java/io/helidon/build/util/ProjectConfig.java
  utils/src/main/java/io/helidon/build/util/QuickstartGenerator.java
  utils/src/main/java/io/helidon/build/util/Requirements.java
  utils/src/main/java/io/helidon/build/util/SystemLogWriter.java
  utils/src/main/resources/io/helidon/build/util/build-tools.properties
Labels: cli
