Repository helidon-io/helidon-build-tools, pull requests merged in 2021-04, with the labels that each got.

#379 Copyright plugin
  copyright-maven-plugin/src/main/java/io/helidon/build/copyright/Git.java
Labels: bug

#380 Copyright plugin - bugfix for deleted files.
  copyright-maven-plugin/src/main/java/io/helidon/build/copyright/Copyright.java
Labels: bug

#384 Services maven plugin.
  copyright-maven-plugin/src/main/java/io/helidon/build/copyright/CopyrightMojo.java
  pom.xml
  services-maven-plugin/pom.xml
  services-maven-plugin/src/main/java/io/helidon/build/services/ServicesMojo.java
  services-maven-plugin/src/main/java/io/helidon/build/services/package-info.java
Labels: maven-plugin

#372 Improve FileHeaderJavacPlugin, add a dedicated test.
  helidon-cli/codegen/src/main/java/io/helidon/build/cli/codegen/CommandAP.java
  helidon-cli/codegen/src/main/java/io/helidon/build/cli/codegen/FileHeaderJavacPlugin.java
  helidon-cli/codegen/src/main/java/io/helidon/build/cli/codegen/Unchecked.java
  helidon-cli/codegen/src/test/java/io/helidon/build/cli/codegen/CommandAPTest.java
  helidon-cli/codegen/src/test/java/io/helidon/build/cli/codegen/CompilerHelper.java
  helidon-cli/codegen/src/test/java/io/helidon/build/cli/codegen/FileHeaderJavacPluginTest.java
  helidon-cli/harness/src/test/java/io/helidon/build/cli/harness/ExecTest.java
  utils/src/main/java/io/helidon/build/util/Strings.java
Labels: cli
