Repository helidon-io/helidon-build-tools, pull requests merged in 2022-03, with the labels that each got.

#673 Add missing property mappings in GraalNativeMojo.
  cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  maven-plugins/helidon-maven-plugin/README.md
  maven-plugins/helidon-maven-plugin/src/main/java/io/helidon/build/maven/GraalNativeMojo.java
Labels: enhancement, cli

#677 Add missing property mappings to GraalNativeMojo.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/DevCommand.java
  helidon-maven-plugin/README.md
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/graal/GraalNativeMojo.java
Labels: backport, 2.x

#678 Add "generated" comment to .helidon file.
  utils/src/main/java/io/helidon/build/util/ConfigProperties.java
  utils/src/main/java/io/helidon/build/util/ProjectConfig.java
Labels: cli, backport, 2.x

#679 Standalone project dir option
  cli/codegen/src/test/resources/com/acme/cli/TestCommand2.java
  cli/codegen/src/test/resources/com/acme/cli/TestCommand2Model.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/CommandModel.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/CommandParameters.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/CommandParser.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/HelpCommand.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/Option.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/OutputHelper.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/UsageCommand.java
  cli/harness/src/test/java/io/helidon/build/cli/harness/ExecTest.java
  cli/harness/src/test/resources/io/helidon/build/cli/harness/cli-usage.txt
  cli/harness/src/test/resources/io/helidon/build/cli/harness/help-cmd-help.txt
  cli/harness/src/test/resources/io/helidon/build/cli/harness/simple-cmd-help.txt
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeInvoker.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/Helidon.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/InitOptions.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/CommandInvoker.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/HelpCommandTest.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/InitCommandTest.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/InitCommandTestBase.java
  common/ansi/src/main/java/io/helidon/build/common/ansi/AnsiTextStyle.java
Labels: enhancement, cli

#682 Support project path without "--project" and improve help output.
  helidon-cli/codegen/src/test/resources/com/acme/cli/TestCommand2.java
  helidon-cli/codegen/src/test/resources/com/acme/cli/TestCommand2Model.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandModel.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandParameters.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandParser.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/HelpCommand.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/Option.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/OutputHelper.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/UsageCommand.java
  helidon-cli/harness/src/test/java/io/helidon/build/cli/harness/ExecTest.java
  helidon-cli/harness/src/test/resources/io/helidon/build/cli/harness/cli-usage.txt
  helidon-cli/harness/src/test/resources/io/helidon/build/cli/harness/help-cmd-help.txt
  helidon-cli/harness/src/test/resources/io/helidon/build/cli/harness/simple-cmd-help.txt
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Helidon.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/CommandInvoker.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/HelpCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitCommandTest.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/InitCommandTestBase.java
  utils/src/main/java/io/helidon/build/util/FileUtils.java
  utils/src/main/java/io/helidon/build/util/Style.java
Labels: cli, backport

#683 Expose Expression tokens
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Expression.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Preset.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Value.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/ScriptLoaderTest.java
Labels: archetype

#685 Fix ScriptLoader cache
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ScriptLoader.java
Labels: archetype
