Repository helidon-io/helidon-build-tools, pull requests merged in 2022-11, with the labels that each got.

#811 Sanitize environment/system properties
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/UserConfig.java
  utils/src/main/java/io/helidon/build/util/Strings.java
  utils/src/test/java/io/helidon/build/util/StringsTest.java
Labels: cli, backport, 2.x, OCA Verified

#810 Sanitize environment/system properties
  cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/UserConfig.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/EmbeddedModeTest.java
  common/common/src/main/java/io/helidon/build/common/Strings.java
  common/common/src/test/java/io/helidon/build/common/StringsTest.java
Labels: cli, 3.x, OCA Verified

#815 fix main method error for Helidon MP projects in VSCode
  ide-support/vscode-extension/src/FileSystemAPI.ts
  ide-support/vscode-extension/src/extension.ts
  ide-support/vscode-extension/src/launchConfiguration.ts
Labels: OCA Verified

#817 add GitHub action based CI
  .github/workflows/validate.yml
  Jenkinsfile
  etc/scripts/pipeline-env.sh
  pom.xml
Labels: OCA Verified
