Repository helidon-io/helidon-build-tools, pull requests merged in 2022-08, with the labels that each got.

#766 Removed support for build server in native image
  maven-plugins/helidon-maven-plugin/README.md
  maven-plugins/helidon-maven-plugin/src/main/java/io/helidon/build/maven/GraalNativeMojo.java
Labels: maven-plugin

#767 Do not allow trailing EOLs in copyright in Java files.
  maven-plugins/enforcer-maven-plugin/src/main/java/io/helidon/build/maven/enforcer/copyright/Copyright.java
  maven-plugins/enforcer-maven-plugin/src/main/java/io/helidon/build/maven/enforcer/copyright/ValidatorHandlebars.java
  maven-plugins/enforcer-maven-plugin/src/main/java/io/helidon/build/maven/enforcer/copyright/ValidatorJava.java
Labels: maven-plugin

#772 Add support for EPL2_PLUS_GPL2_CPE_ID
  licensing/src/main/java/io/helidon/build/licensing/Report.java
Labels: maven-plugin

#753 Refactor functional tests
  cli/tests/functional/pom.xml
  cli/tests/functional/src/it/projects/archetype-v2/archetype/files/.helidon
  cli/tests/functional/src/it/projects/archetype-v2/archetype/files/pom.xml.mustache
  cli/tests/functional/src/it/projects/archetype-v2/archetype/files/src/main/java/__pkg__/Main.java.mustache
  cli/tests/functional/src/it/projects/archetype-v2/archetype/flavor.xml
  cli/tests/functional/src/it/projects/archetype-v2/pom.xml
  cli/tests/functional/src/it/settings.xml
  cli/tests/functional/src/test/java/io/helidon/build/cli/tests/CliFunctionalTest.java
  cli/tests/functional/src/test/java/io/helidon/build/cli/tests/CliFunctionalV2Test.java
  cli/tests/functional/src/test/java/io/helidon/build/cli/tests/CliMavenTest.java
  cli/tests/functional/src/test/java/io/helidon/build/cli/tests/FunctionalUtils.java
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test1/src/main/archetype/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test2/src/main/archetype/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test3/src/main/archetype/shape.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module1/src/main/archetype/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/Schema.java
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/common/common.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/common/customize-project.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/common/java-files.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/common/mustache-files.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/flavor.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/se/bare/bare-se.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/duplicate-include/se/se.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/common.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/customize-project.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/helidon-file.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/java-files.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/mustache-files.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/pom-file.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/common/readme.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/flavor.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/se/bare/bare-se.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/include-cycle/se/se.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/schema/colors.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/schema/shapes.xml
  maven-plugins/helidon-archetype-maven-plugin/src/test/resources/simple/main.xml
Labels: cli

#765 Ensure no template files are generated
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/Validation.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/resources/META-INF/plexus/components.xml
Labels: enhancement
