Repository helidon-io/helidon-build-tools, pull requests merged in 2022-09, with the labels that each got.

#775 [helidon-maven-plugin] enable native-image --module and --module-path option
  maven-plugins/helidon-maven-plugin/pom.xml
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/expected1.log
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/expected2.log
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/expected3.log
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/invoker.properties
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/pom.xml
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/postbuild.groovy
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/src/main/java/module-info.java
  maven-plugins/helidon-maven-plugin/src/it/projects/module-test/src/main/java/my/own/module/Main.java
  maven-plugins/helidon-maven-plugin/src/main/java/io/helidon/build/maven/GraalNativeMojo.java
  pom.xml
Labels: maven-plugin, 3.x

#783 3.x: Port Add additional licensing report formats (#714) from 2.x
  licensing/pom.xml
  licensing/src/main/java/io/helidon/build/licensing/Report.java
  licensing/src/test/java/io/helidon/build/licensing/LicenseDocumentTest.java
  maven-plugins/helidon-maven-plugin/pom.xml
  maven-plugins/helidon-maven-plugin/src/it/projects/report-test3/HELIDON_THIRD_PARTY_LICENSES.xml
  maven-plugins/helidon-maven-plugin/src/it/projects/report-test3/pom.xml
  maven-plugins/helidon-maven-plugin/src/main/java/io/helidon/build/maven/ReportMojo.java
  pom.xml
Labels: backport

#787 Fix Validation component
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/Validation.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/resources/META-INF/plexus/components.xml
Labels: enhancement, maven-plugin
