Repository helidon-io/helidon-build-tools, pull requests merged in 2022-07, with the labels that each got.

#721 sitegen fixes
  cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
  common/common/src/main/java/io/helidon/build/common/FileUtils.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/maven/DoxiaSiteRenderer.java
  maven-plugins/sitegen-maven-plugin/src/main/resources/files/vuetify/components/docNav.js
Labels: sitegen

#733 Fix external default handling in InputResolver
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/BatchInputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/InputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/TerminalInputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/Context.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputPermutations.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/TerminalInputResolverTest.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/TestHelper.java
Labels: cli, archetype

#728 Fix ArchetypeInvoker v3 version detection
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeInvoker.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/ArchetypeInvokerTest.java
Labels: cli, archetype

#736 Avoid rendering steps on skipped inputs
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/BatchInputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/InputResolver.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/TerminalInputResolverTest.java
Labels: archetype

#738 Input filters updates
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/InputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/DynamicValue.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Expression.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Value.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/ContextEdge.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/ContextNode.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/ContextScope.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/CopyOnWriteContextEdge.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/NoValueContextEdge.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/context/WriteableContextEdge.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputPermutations.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/ast/ExpressionTest.java
  archetype/engine-v2/src/test/resources/e2e/colors/colors.xml
  maven-plugins/helidon-archetype-maven-plugin/README.md
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
Labels: archetype

#741 Add a --error global option.
  cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/CommandModel.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/CommandRunner.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/GlobalOptions.java
  cli/harness/src/main/java/io/helidon/build/cli/harness/UsageCommand.java
  cli/harness/src/test/resources/io/helidon/build/cli/harness/cli-usage.txt
  cli/harness/src/test/resources/io/helidon/build/cli/harness/help-cmd-help.txt
  cli/harness/src/test/resources/io/helidon/build/cli/harness/simple-cmd-help.txt
  cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
Labels: cli

#742 Update archetype V2 schema
  archetype/engine-v2/src/main/schema/archetype.xml
  archetype/engine-v2/src/main/schema/archetype.xsd
  docs-internal/archetype-v2.md
  docs-internal/starter-proposal.md
Labels: archetype

#751 Archetype: implement mustache decorated list
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/MergedModel.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/MustacheSupport.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/MustacheSupportTest.java
Labels: archetype

#755 CLI : format parsing exception
  cli/impl/pom.xml
  cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/EmbeddedModeTest.java
Labels: cli

#759 Fix TemplateSupport caching.
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/spi/TemplateSupport.java
Labels: bug, archetype
