Repository helidon-io/helidon-build-tools, pull requests merged in 2022-01, with the labels that each got.

#598 stager plugin download task config
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/DownloadTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/StagerMojo.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/StagingContext.java
Labels: backport

#600 Improve Metadata update error handling:
  cli/codegen/pom.xml
  cli/codegen/src/main/java/io/helidon/build/cli/codegen/ASTWriter.java
  cli/codegen/src/main/java/io/helidon/build/cli/codegen/FileHeaderJavacPlugin.java
  cli/codegen/src/main/java/module-info.java
  cli/codegen/src/test/java/io/helidon/build/cli/codegen/ASTWriterTest.java
  cli/codegen/src/test/java/io/helidon/build/cli/codegen/CommandAPTest.java
  cli/codegen/src/test/java/io/helidon/build/cli/codegen/CompilerHelper.java
  cli/common/src/main/java/module-info.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeBrowser.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeInvoker.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/BaseCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  cli/impl/src/main/java/module-info.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/ArchetypeBrowserTest.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTestBase.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTestIT.java
  cli/plugin/src/main/java/io/helidon/build/cli/plugin/Log.java
  cli/plugin/src/test/java/io/helidon/build/cli/plugin/LogTest.java
  common/common/src/main/java/io/helidon/build/common/Unchecked.java
  dev-loop/dev-loop/src/main/java/io/helidon/build/devloop/util/ConsumerPrintStream.java
Labels: backport

#601 Fix log level support
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandContext.java
  helidon-cli/harness/src/main/java/io/helidon/build/cli/harness/CommandParser.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Plugins.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Log.java
  helidon-cli/plugin/src/main/java/io/helidon/build/cli/plugin/Plugin.java
  helidon-cli/plugin/src/test/java/io/helidon/build/cli/plugin/LogTest.java
Labels: backport

#602 Archetype Maven plugin improvements
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/BatchInputResolver.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/BatchInputResolverTest.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeInvoker.java
  maven-plugins/build-cache-maven-plugin/README.md
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test1/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test2/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test3/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module1/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module2/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module3/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/JarMojo.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/MustacheHelper.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/Schema.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/resources/archetype-metadata.xml.mustache
  maven-plugins/helidon-archetype-maven-plugin/src/test/java/io/helidon/build/maven/archetype/MustacheHelperTest.java
  maven-plugins/helidon-archetype-maven-plugin/src/test/java/io/helidon/build/maven/archetype/ProjectsTestIT.java
  maven-plugins/helidon-archetype-maven-plugin/src/test/java/io/helidon/build/maven/archetype/SchemaTest.java
Labels: archetype

#603 Remove --archetype cli option
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/MergedModel.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeBrowser.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/ArchetypeInvoker.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/InitOptions.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTestIT.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
Labels: archetype

#604 Generate archetype input combinations
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/Context.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/TerminalInputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/VisitorAdapter.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Input.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/ast/Value.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputCombinations.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputTree.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/package-info.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/util/InputCombinationsTest.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/util/InputTreeTest.java
  archetype/engine-v2/src/test/resources/input-tree/bar.xml
  archetype/engine-v2/src/test/resources/input-tree/foo.xml
  archetype/engine-v2/src/test/resources/input-tree/list1.xml
  archetype/engine-v2/src/test/resources/input-tree/list2.xml
  archetype/engine-v2/src/test/resources/input-tree/main.xml
  archetype/engine-v2/src/test/resources/input-tree/substitutions.xml
Labels: archetype

#608 Update archetype IntegrationTestMojo to use InputCombinations
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputCombinations.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputTree.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/util/InputTreeTest.java
  archetype/engine-v2/src/test/resources/input-tree/optional-text-no-default.xml
  archetype/engine-v2/src/test/resources/input-tree/text-no-default.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test1/src/main/archetype/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test1/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test1/src/test/resources/projects/it1/goal.txt
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test2/src/main/archetype/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test2/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test2/src/test/resources/projects/it1/goal.txt
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test3/src/main/archetype/shape.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test3/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test3/src/test/resources/projects/it1/goal.txt
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module1/src/main/archetype/main.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module1/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module1/src/test/resources/projects/it1/goal.txt
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module2/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module2/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module2/src/test/resources/projects/it1/goal.txt
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module3/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module3/src/test/resources/projects/it1/archetype.properties
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test4/module3/src/test/resources/projects/it1/goal.txt
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
  maven-plugins/helidon-archetype-maven-plugin/src/test/java/io/helidon/build/maven/archetype/ProjectsTestIT.java
Labels: archetype

#612 Fix Maven archetype compatibility layer in interactive mode.
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/TerminalInputResolver.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/spi/TemplateSupportProvider.java
  common/common/src/main/java/io/helidon/build/common/RichTextProvider.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/postgenerate/EngineFacade.java
Labels: archetype

#611 Add support for external and default values to CombinationsIterator
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputCombinations.java
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/util/InputTree.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/util/InputCombinationsTest.java
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/util/InputTreeTest.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
Labels: archetype

#614 Fix issue with color output.
  common/ansi/src/main/java/io/helidon/build/common/ansi/AnsiConsoleInstaller.java
  common/ansi/src/test/java/io/helidon/build/common/ansi/AnsiTextStyleTest.java
  common/ansi/src/test/java/io/helidon/build/common/ansi/AnsiTextStylesTest.java
  common/common/src/main/java/io/helidon/build/common/RichTextProvider.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
Labels: bug

#615 Allow externalValues to be empty even when generateCombinations is false
  archetype/engine-v2/src/main/java/io/helidon/build/archetype/engine/v2/TerminalInputResolver.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
Labels: archetype

#624 Clarify comments in generated user config.
  cli/impl/src/main/java/io/helidon/build/cli/impl/UserConfig.java
Labels: cli

#625 Check JAVA_HOME for native-image command.
  maven-plugins/helidon-maven-plugin/src/main/java/io/helidon/build/maven/GraalNativeMojo.java
Labels: enhancement, maven-plugin

#626 backport #625 to 2.x
  helidon-maven-plugin/src/main/java/io/helidon/build/maven/graal/GraalNativeMojo.java
Labels: backport

#628 Validate Helidon version input.
  archetype/engine-v1/src/main/java/io/helidon/build/archetype/engine/v1/Prompter.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
Labels: enhancement, cli

#630 Fix prompter when default answer is null.
  archetype/engine-v1/src/main/java/io/helidon/build/archetype/engine/v1/Prompter.java
Labels: bug, cli

#627 Improve error message when unsupported Helidon version is used.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/CommonOptions.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/InitCommand.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Prompter.java
  helidon-cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
Labels: bug, cli

#632 Fix HELIDON_3 to use minimum "alpha" version.
  helidon-cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
Labels: cli

#633 Multiline latest
  cli/common/pom.xml
  cli/common/src/main/java/io/helidon/build/cli/common/LatestVersion.java
  cli/common/src/main/java/module-info.java
  cli/common/src/test/java/io/helidon/build/cli/common/LatestVersionTest.java
  cli/common/src/test/resources/latest-files/latest-3x
  cli/common/src/test/resources/latest-files/latest-3x-limit-3.5
  cli/impl/src/main/java/io/helidon/build/cli/impl/Metadata.java
  cli/impl/src/test/java/io/helidon/build/cli/impl/MetadataTest.java
  cli/impl/src/test/resources/cli-data/latest
  cli/plugin/pom.xml
  cli/plugin/src/main/java/io/helidon/build/cli/plugin/UpdateMetadata.java
  cli/plugin/src/main/java/module-info.java
  common/maven/src/main/java/io/helidon/build/common/maven/VersionRange.java
  common/maven/src/test/java/io/helidon/build/common/maven/VersionRangeTest.java
  common/test-utils/src/main/java/io/helidon/build/common/test/utils/TestFiles.java
  etc/copyright-exclude.txt
  pom.xml
Labels: cli

#636 Assert rule matches version in constructor.
  cli/common/src/main/java/io/helidon/build/cli/common/LatestVersion.java
  cli/common/src/test/java/io/helidon/build/cli/common/LatestVersionTest.java
Labels: cli

#637 Batch info output
  cli/impl/src/main/java/io/helidon/build/cli/impl/InfoCommand.java
  cli/impl/src/main/java/io/helidon/build/cli/impl/UserConfig.java
  cli/plugin/src/main/java/io/helidon/build/cli/plugin/GetInfo.java
  cli/plugin/src/main/java/io/helidon/build/cli/plugin/Log.java
  common/common/src/main/java/io/helidon/build/common/Strings.java
Labels: cli
