Repository helidon-io/helidon-build-tools, pull requests merged in 2023-12, with the labels that each got.

#1003 enforcer-rules - excludedGavRegExs should not be required
  maven-enforcer-rules/README.md
  maven-enforcer-rules/src/main/java/io/helidon/build/maven/enforcer/rules/HelidonDependenciesRule.java
  maven-enforcer-rules/src/test/java/io/helidon/build/maven/enforcer/rules/HelidonDependencyRuleTest.java
Labels: OCA Verified

#1004 Uptake Maven 3.9.x
  cli/codegen/pom.xml
  cli/impl/pom.xml
  common/common/pom.xml
  common/test-utils/pom.xml
  etc/scripts/checkstyle.sh
  ide-support/lsp/helidon-lsp-maven-plugin/pom.xml
  maven-plugins/enforcer-maven-plugin/src/main/java/io/helidon/build/maven/enforcer/inclusivenaming/InlusiveNamingConfig.java
  maven-plugins/helidon-archetype-maven-plugin/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/MustacheHelper.java
  maven-plugins/helidon-cli-maven-plugin/pom.xml
  maven-plugins/services-maven-plugin/etc/spotbugs/exclude.xml
  maven-plugins/sitegen-maven-plugin/pom.xml
  maven-plugins/snakeyaml-codegen-maven-plugin/etc/spotbugs/exclude.xml
  pom.xml
Labels: maven-plugin, OCA Verified

#1001 Sitegen history mode + new Maven plugin to help with aggregated javadocs
  common/common/src/main/java/io/helidon/build/common/MediaTypes.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/SiteServer.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/asciidoctor/AsciidocEngine.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/maven/GenerateMojo.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/maven/ServeMojo.java
  maven-plugins/sitegen-maven-plugin/src/main/resources/META-INF/plexus/components.xml
  maven-plugins/sitegen-maven-plugin/src/main/resources/files/vuetify/main/app.js
  maven-plugins/sitegen-maven-plugin/src/main/resources/files/vuetify/main/utils.js
  maven-plugins/sitegen-maven-plugin/src/main/resources/templates/vuetify/index.ftl
Labels: sitegen, OCA Verified
