Repository helidon-io/helidon-build-tools, pull requests merged in 2024-10, with the labels that each got.

#1070 Maven Archetype 3.3.0 compatibility
  .github/workflows/validate.yml
  cli/tests/functional/src/test/java/io/helidon/build/cli/tests/CliMavenTest.java
  maven-plugins/helidon-archetype-maven-plugin/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/src/it/projects/test1/src/main/archetype/files/pom.xml.mustache
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/IntegrationTestMojo.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/MavenArchetypeGenerator.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/postgenerate/Aether.java
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/postgenerate/EngineFacade.java
  pom.xml
Labels: archetype, OCA Verified, 4.x

#1076 Maven Archetype 3.3.1 compatibility
  maven-plugins/helidon-archetype-maven-plugin/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/postgenerate/EngineFacade.java
Labels: archetype, OCA Verified, 4.x

#1077 3.x - Maven Archetype 3.3.1 compatibility
  maven-plugins/helidon-archetype-maven-plugin/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/postgenerate/EngineFacade.java
Labels: archetype, backport, 3.x, OCA Verified

#1079 4.x: Update READMEs and add a CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  cli/README.md
  maven-plugins/README.md
Labels: OCA Verified, 4.x

#1081 4.x: improve exception messages in stager plugin
  common/common/src/main/java/io/helidon/build/common/FileUtils.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/DownloadTask.java
Labels: maven-plugin, OCA Verified

#1082 Fix CDS archiveFile.setWritable
  linker/src/main/java/io/helidon/build/linker/ClassDataSharing.java
Labels: OCA Verified
