Repository helidon-io/helidon-build-tools, pull requests merged in 2024-01, with the labels that each got.

#1007 Fix issues related to helidon 4.0 CLI.
  ide-support/vscode-extension/src/Interpreter.ts
  ide-support/vscode-extension/src/generator.ts
Labels: OCA Verified

#1008 Resolve variables in list-file "dir" attribute.
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/ListFilesTask.java
Labels: maven-plugin, OCA Verified, 4.x

#1010 Fix port configuration in sitegen:serve
  maven-plugins/sitegen-maven-plugin/README.md
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/SiteServer.java
Labels: sitegen, OCA Verified, 4.x

#1011 Use FileUtils.ensureDirectory instead of Files.createDirectories
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/CopyArtifactTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/DownloadTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/FileTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/StagingDirectory.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/SymlinkTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/TemplateTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/UnpackArtifactTask.java
Labels: maven-plugin, OCA Verified, 4.x

#1012 Update copyright year for all pom files
  archetype/engine-v1/pom.xml
  archetype/engine-v2-json/pom.xml
  archetype/engine-v2/pom.xml
  archetype/pom.xml
  cli/codegen/pom.xml
  cli/common/pom.xml
  cli/harness/pom.xml
  cli/impl/pom.xml
  cli/plugin/pom.xml
  cli/pom.xml
  cli/tests/functional/pom.xml
  cli/tests/pom.xml
  common/ansi/pom.xml
  common/common/pom.xml
  common/markdown/pom.xml
  common/maven-plugin/pom.xml
  common/maven-url-support/pom.xml
  common/maven/pom.xml
  common/pom.xml
  common/test-utils/pom.xml
  common/xml/pom.xml
  dev-loop/common/pom.xml
  dev-loop/dev-loop/pom.xml
  dev-loop/pom.xml
  ide-support/lsp/common/pom.xml
  ide-support/lsp/helidon-lsp-maven-plugin/pom.xml
  ide-support/lsp/lsp-server/pom.xml
  ide-support/lsp/pom.xml
  ide-support/pom.xml
  ide-support/vscode-extension/pom.xml
  licensing/pom.xml
  linker/pom.xml
  maven-enforcer-rules/pom.xml
  maven-plugins/build-cache-maven-plugin/pom.xml
  maven-plugins/enforcer-maven-plugin/pom.xml
  maven-plugins/helidon-archetype-maven-plugin/pom.xml
  maven-plugins/helidon-cli-maven-plugin/pom.xml
  maven-plugins/helidon-maven-plugin/pom.xml
  maven-plugins/javadoc-maven-plugin/pom.xml
  maven-plugins/pom.xml
  maven-plugins/services-maven-plugin/pom.xml
  maven-plugins/sitegen-maven-plugin/pom.xml
  maven-plugins/snakeyaml-codegen-maven-plugin/pom.xml
  pom.xml
Labels: OCA Verified, 4.x

#1013 list-files parallel fix
  maven-plugins/stager-maven-plugin/src/it/projects/file/pom.xml
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/FileTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/ListFilesTask.java
  maven-plugins/stager-maven-plugin/src/main/java/io/helidon/build/maven/stager/TextAction.java
  maven-plugins/stager-maven-plugin/src/test/java/io/helidon/build/maven/stager/ProjectsTestIT.java
Labels: maven-plugin, OCA Verified, 4.x
