Repository helidon-io/helidon-build-tools, pull requests merged in 2025-01, with the labels that each got.

#1097 Add support for row and column span; propagate rendering error information to the output
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/RenderingException.java
  maven-plugins/sitegen-maven-plugin/src/main/resources/templates/vuetify/block_table.ftl
Labels: OCA Verified

#1098 Update archetype schema to reflect `output` element runtime behavior
  archetype/engine-v2/src/main/schema/archetype.xsd
  archetype/engine-v2/src/test/java/io/helidon/build/archetype/engine/v2/ControllerTest.java
  archetype/engine-v2/src/test/resources/controller/call.xml
  archetype/engine-v2/src/test/resources/controller/output.xml
Labels: archetype, OCA Verified, 4.x

#1100 Build failure on entrypoint schema validation
  maven-plugins/helidon-archetype-maven-plugin/src/main/java/io/helidon/build/maven/archetype/JarMojo.java
Labels: maven-plugin, OCA Verified, 4.x

#1093 Add SDKMan and HomeBrew release process documentation
  cli/RELEASE.md
Labels: docs, OCA Verified, 4.x

#1099 Upload tests result artifact on Windows
  .github/actions/common/action.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  etc/scripts/checkstyle.sh
  etc/scripts/copyright.sh
  etc/scripts/release.sh
  maven-plugins/build-cache-maven-extension/src/it/projects/test3/invoker.properties
Labels: OCA Verified, 4.x, build

#1102 Suppress `rowspan` and `colspan` from table cells unless present AND non-zero
  maven-plugins/sitegen-maven-plugin/src/main/resources/templates/vuetify/block_table.ftl
Labels: OCA Verified

#1103 4.x: Fix sitegen config substitutions
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/Config.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/VuetifyBackend.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/asciidoctor/AsciidocEngine.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/freemarker/FreemarkerEngine.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/maven/GenerateMojo.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/models/Header.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/models/Nav.java
  maven-plugins/sitegen-maven-plugin/src/main/java/io/helidon/build/maven/sitegen/models/SourcePathFilter.java
  maven-plugins/sitegen-maven-plugin/src/test/java/io/helidon/build/maven/sitegen/ConfigTest.java
  maven-plugins/sitegen-maven-plugin/src/test/resources/config/list.yaml
  maven-plugins/sitegen-maven-plugin/src/test/resources/config/map.yaml
Labels: sitegen, OCA Verified, 4.x

#1101 Update workflow to create a CLI release tag
  .github/workflows/release-cli.yml
  .github/workflows/release.yml
  etc/CLI_RELEASE.md
  etc/scripts/release.sh
Labels: cli, OCA Verified, 4.x
